html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.myCV {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.container {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

.content {
    display: block;
}

.row {
	margin-left: 0;
	min-height: 100%;
    height: 100%;
}

.t {
	font-family: Muli;
}

.blue-bg {
	background-color: #5266A5;
}

.white-text {
	color: #FFFFFF;
}

.info {
	letter-spacing: 0.1em;
}

.contacts {
	margin-top: 3%;
}

@media screen and (min-width: 992px) {
    .t {
    	font-size: 25px;
    }
    .fa-circle {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .t {
    	font-size: 15px;
    }
    .fa-circle {
        font-size: 25px;
    }
}