<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor} ?
            'Hello, ' + ${visitor} + ' I hope you are interested in hiring me' : 'This is my CV'"></title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container content">
    <div class="myCV">
        <div class="row">
            <div class="prof col blue-bg d-flex align-items-center" id="prof">
                <div class="t info white-text font-weight-normals text-center align-middle mx-auto">
                    <div>Hello, I'm Alya, a Computer Science student from University of Indonesia. I am
                        currently interested in learning Multimedia Processing and Game Development. If you
                        need anything, you can contact me through email or phone number.
                    </div>
                </div>
            </div>
            <div class="col white-bg d-flex align-items-center">
                <div class="t contacts font-weight-normals text-center mx-auto">
                    <p class="font-weight-bold">ALYA ZAHRA'S BIO</p>
                    <p><i class="fa fa-birthday-cake"></i> Pekanbaru, July 22nd 1999</p>
                    <p><i class="fa fa-home"></i> AA Residence, Depok</p>
                    <p><i class="fa fa-phone"></i> 087863224506</p>
                    <p><i class="fa fa-envelope"></i> alya.zahra71@ui.ac.id</p>
                </div>
            </div>
            <div class="edu col blue-bg d-flex align-items-center">
                <div class="t info white-text text-center align-middle mx-auto">
                    <div class="t font-weight-normals text-center mx-auto">
                        <p class="font-weight-bold">EDUCATION</p>
                        <p><i class="fa fa-circle"></i> SMPN 1 Pekanbaru (2011)</p>
                        <p><i class="fa fa-circle"></i> SMAN 8 Pekanbaru (2014)</p>
                        <p><i class="fa fa-circle"></i> SMAN 5 Bekasi (2015)</p>
                        <p><i class="fa fa-circle"></i> University of Indonesia - Faculty of Computer Science
                            (2017)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>